<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
		<a class="navbar-brand" href="#">
				<img src="assets/img/quizard.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
				Quizard of Oz
			</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Contact Mentor</a>
      </li>
      <li>
					<form>
					 <input type="submit" value="Logout" class="btn text-light" name="logout">
					</form>
				</li>
		</ul>
		</div>
</nav>