
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body >

<h1>Card Flip with Textt</h1>
<h3>Hover over the image below:</h3>

<div *ngFor="let flashcard of this.flashcards">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div *ngIf="(flashcard.topic.topicName== 'Geography')">
        <!-- <div *ngFor="let flashcard of this.flashcards"> -->
           <h2> {{flashcard.question}} </h2>
          <!-- </div> -->
        </div>
    </div>
    <div class="flip-card-back">
        <!-- <div *ngFor="let flashcard of this.flashcards"> -->
            <br>
            <h2>{{flashcard.answer}}</h2>
            <br>Category: {{flashcard.topic.topicName}}
          <!-- </div> -->
    </div>
    
  </div>
</div>
<br> <br>
</div>
<!-- <button (click)="loadFlashCards()">Get Flashcards</button>
<div   *ngFor="let flashcard of this.flashcards">
</div> -->

</body>

 
