
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body >

<h1>Card Flip with Textt</h1>
<h3>Hover over the image below:</h3>

<br>

<select (change)="filterFlashCards($event.target.value)">
     <option value = "0">   </option>
    <option *ngFor="let flashcard of this.flashcards, let i=index" value="{{flashcard.topic.topicName}}">
        <!-- <div *ngIf="{{flashcard.topic.topicName}} == {{flashcard.topic.topicName}}"> -->
      {{flashcard.topic.topicName}}
    </option>
    
    <!-- <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option> -->
  </select>
    <br>
    <br>
<br>


<div *ngFor="let flashcard of this.flashcards">
  <div *ngIf="(flashcard.topic.topicName== flashCatagory)">
    
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <!-- <div *ngFor="let flashcard of this.flashcards"> -->
           <h2> {{flashcard.question}} </h2>
          <!-- </div> -->
        
    </div>
    <div class="flip-card-back">
        <!-- <div *ngFor="let flashcard of this.flashcards"> -->
            <br>
            <h2>{{flashcard.answer}}</h2>
            <br>Category: {{flashcard.topic.topicName}}
          <!-- </div> -->
    </div>
    
  </div>
</div>
<br> <br>
</div>
</div>
<!-- <button (click)="loadFlashCards()">Get Flashcards</button>
<div   *ngFor="let flashcard of this.flashcards">
</div> -->

</body>

 
