<div class="card text-center">
    <div class="card-header">
        User Information
      </div>
<div class="card-body">
  <div class="display font-weight-bold">
      <br>
        <div class="border border">First Name:
        <p> {{user.firstName}}</p>
        </div>
      <br>
        <div class="border border">Last Name:
        <p> {{user.lastName}}></p>
        </div>
      <br>
        <div class="border border">Email:
        <p> {{user.email}}</p>
        </div>
      <br>
        <div class="border border">UserType:
         <p> {{ user.userType.userTypeName}} </p>
        </div>
      <br>
    </div>
</div>
</div>