<app-nav></app-nav>



<div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

      <div class="container-flex">
            <div class="row">
              <div class="col">
               <app-user-info></app-user-info>
              </div>
              <div class="col">
                2 of 3
              </div>
              <div class="col">
                3 of 3
              </div>
            </div>
          </div>
          
<app-footer></app-footer>