<app-nav></app-nav>



<div class="card-flex text-center">
        <div class="card-header">
         User Views
        </div>
        <div class="card-body">
          <h5 class="card-title">Select All Users</h5>
          <p class="card-text">All Mentors and Mentees</p>
          
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>

      <div class="container-flex">
            <div class="row">
              <div class="col">
               <app-user-info></app-user-info>
              </div>
              <div class="col">
              <app-allusers></app-allusers>
              </div>
              <div class="col">
                
              </div>
            </div>
          </div>
          
<app-footer></app-footer>